@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("./assets/font/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik italic";
  src: url("./assets/font/Rubik-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --primary: 231 69% 60%;
    --destructive: 0 94% 66%;
    --foreground-muted: 229 8% 60%;
    --foreground: 229 31% 21%;
    --rubik: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

@layer base {
  * {
    @apply border-foreground-muted;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground-muted text-sm font-rubik;
  }
  h1,
  h2,
  h3 {
    @apply text-foreground;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--foreground-muted));
  border-radius: 100vw;
}
